.btn{
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    position: relative;
}
.btn--style--primary{
    font-weight: 500;
    border: none;
}
.btn--style--secondary{
    font-weight: 500;
    border: none;
    border-radius: 50%;
}
.btn--size--large{
    padding: 0.8rem 1.2rem;
}
.btn--size--small{
    padding: 0.5rem 0.5rem;
    font-size: 0.5rem;
}
.btn--color--dark{
    text-decoration: none;
    color: #d2d2d2;
    background-color: #232323;
}
.btn--color--light{
    text-decoration: none;
    color: #232323;
    background-color: #d2d2d2;
}
.btn--prev{
    transform: rotate(90deg);
}